<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Article ANY>
<!ATTLIST Article id ID #REQUIRED>
<!ELEMENT Category ANY>
<!ATTLIST Category id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1055" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-01-22T14:11:58" updateDate="2016-01-22T14:11:58" nodeName="Home" urlName="home" path="-1,1055" isDoc="" nodeType="1047" creatorName="admin" writerName="admin" writerID="0" template="1046" nodeTypeAlias="Homepage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Home]]></title>
  </Homepage>
</root>