@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="jumbotron kb-category-hero">
    <div class="row">
        <div class="col-xs-12">
            <h1>@Umbraco.Field("Title")</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @Umbraco.Field("Intro")
        </div>
    </div>
    <div class="row">
        <h2>Articles</h2>
        <div class="col-xs-12">
            <ul class="kb-articles">
                @foreach(var article in CurrentPage.Children.Where("UmbracoNaviHide == false"))
                {
                    <li>
                        <div class="row kb-category-article-title">
                            <a href="@article.Url">@article.Title</a>
                        </div>
                        <div class="row kb-category-article-summary">
                            <div class="col-xs-12">
                                Some summary text
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>  