<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css"/>

    <script type="text/javascript" src="~/scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
</head>
<body>
    <div id="page">
        @Html.Partial("~/Views/Partials/Navigation.cshtml")

        @RenderBody()
        
        <div></div>
    </div>
</body>
</html>
