<!DOCTYPE root[<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
 

]>
<root id="-1">
  <Homepage id="1047" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-02-05T10:58:25" updateDate="2015-02-05T11:28:47" nodeName="Homepage" urlName="homepage" path="-1,1047" isDoc="" nodeType="1046" creatorName="admin" writerName="admin" writerID="0" template="1045" nodeTypeAlias="Homepage">
    <title>Woohoo</title>
    <prTags><![CDATA[Flibbles,Test Tag]]></prTags>
  </Homepage>
</root>